*{
  margin: 0;
  padding: 0;
}

.ENG {
  font-family: 'Roboto' !important;
}
.中文{
  font-family: 'FZZFangSong-Z02', 'FZZFangSong-Z02S', STFangsong, FangSong !important;
}
:root {
  --select-border: rgba(181, 234, 215, 0.1);
  --select-arrow: var(--select-border);
}
/* reset lang-chooser to default css */
.select{
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  align-items: center;
  outline: none;
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
}

h1 {
    color: rgba(181, 234, 215, 1);;
    font-size: 42px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

.xx {
  /** background-image: url("../img/morningsky.jpg") !important; **/
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  overflow: visible;
  display: block;
  direction: ltr;
  font-size: 12px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #C8E6C9 inset;
}
.vcmvz{
  position: fixed;
  height: 8px;
  left: 0;
  overflow: hidden;
  top: 0;
  z-index: 5;
}
.ghgtu{
  height: 8px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  width: 100%;
}
.kiasd{
  -webkit-background-size: 20px 8px;
  background-size: 20px 8px;
  background-repeat: repeat-x;
  background: #FFB74D;
  visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.yuuyx{
  background: linear-gradient(100deg, #ffabab, #ffdaab, #ddffab, #abe4ff, #d9abff);
  height: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: -webkite-transform 100ms ease;
  -webkit-transition: transform 1000ms ease;
  transition: transform 100ms ease;
  width: 100%;
  position: absolute;
}
.yuri{
  -webkit-animation: primary-indeterminate-translate 2s infinite linear;
  animation: primary-indeterminate-translate 2s infinite linear;
  transform: scaleX(0);
  height: 100%;
  position: absolute;
  width: 100%;
}
.I3ed{
  -webkit-animation: primary-indeterminate-scale 2s infinite linear;
  animation: primary-indeterminate-scale 2s infinite linear;
  background-color: #FFF3E0;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.I4ed{
  -webkit-animation: primary-indeterminate-scale 2s infinite linear;
  animation: primary-indeterminate-scale 2s infinite linear;
  background-color: #FFB74D;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.QeRzxYT{
  -webkit-animation: auxiliary-indeterminate-translate 2s infinite linear;
  animation: auxiliary-indeterminate-translate 2s infinite linear;
  visibility: visible;
  -webkit-transition: none;
  transition: none;
  transform-origin: top left;
  height: 100%;
  position: absolute;
  width: 100%;
}
@keyframes auxiliary-indeterminate-translate{
  0% {
      -webkit-animation-timing-function: cubic-bezier(.15,0,.515058,.409685);
      animation-timing-function: cubic-bezier(.15,0,.515058,.409685);
      -webkit-transform: translateX(-54.888891%);
      transform: translateX(-54.888891%);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(.310330,.284058,.8,.733712);
    animation-timing-function: cubic-bezier(.310330,.284058,.8,.733712);
    -webkit-transform: translateX(-17.236978%);
    transform: translateX(-17.236978%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(.4,.627035,.6,.902026);
    animation-timing-function: cubic-bezier(.4,.627035,.6,.902026);
    -webkit-transform: translateX(29.497274%);
    transform: translateX(29.497274%);
  }
  100% {
    -webkit-transform: translateX(105.388891%);
    transform: translateX(105.388891%);
  }
}
@keyframes primary-indeterminate-scale{
  0% {
    -webkit-transform: scaleX(.08);
    transform: scaleX(.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(.334731,.124820,.785844,1);
    animation-timing-function: cubic-bezier(.334731,.124820,.785844,1);
    -webkit-transform: scaleX(.08);
    transform: scaleX(.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(.06,.11,.6,1);
    animation-timing-function: cubic-bezier(.06,.11,.6,1);
    -webkit-transform: scaleX(.661479);
    transform: scaleX(.661479);
  }
  100% {
    -webkit-transform: scaleX(.08);
    transform: scaleX(.08);
  }
}
@keyframes primary-indeterminate-translate{
   0%{
     -webkit-transform: translateX(-145.166611%);
      transform: translateX(-145.166611%);
   }
   20% {
      -webkit-animation-timing-function: cubic-bezier(.5,0,.701732,.495819);
      animation-timing-function: cubic-bezier(.5,0,.701732,.495819);
      -webkit-transform: translateX(-145.166611%);
      transform: translateX(-145.166611%);
  }
  59.15% {
      -webkit-animation-timing-function: cubic-bezier(.302435,.381352,.55,.956352);
      animation-timing-function: cubic-bezier(.302435,.381352,.55,.956352);
      -webkit-transform: translateX(-61.495191%);
      transform: translateX(-61.495191%);
  }
  100% {
      -webkit-transform: translateX(55.444446%);
      transform: translateX(55.444446%);
  }
}



.yy1{
  margin: 16px 0;
  outline: none;
}

/*onload CSS effects for reset_password.php and signup.php  results on index.php */

.underline, .curtain_drop{
  position:relative;
  text-decoration:none;
  display:inline-block;
}
.underline:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgba(181, 234, 215, 1);
  animation: underline 1s;
  top: 100%;
  background-color: rgba(181, 234, 215, 1);
}

.curtain_drop{
  display: block;
  border-width: solid 13px rgba(181, 234, 215, 1);
  border-style: solid;
  text-align: center;
  border-image:
     linear-gradient(
       to bottom,
       rgba(181, 234, 215, 1),
       rgba(181, 234, 215, 1)
     ) 1 100%;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  font-weight: 1000;
  color: #202124;
 }

@keyframes curtain_drop{
  0%{
    background-color opacity: 0%;
  }
  100%{
    top: 100%;
  }
}

@keyframes underline{
  0%{
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
  }
  100%{
    transform: scaleX(1);
    transform-origin: 0 100%;
  }
}


.ab{
  height: 24px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  width: 75px;
}
.logo{
  height: 100px;
  margin: -38px auto;
  overflow: visible;
  position: relative;
  width: 75px;
}
.xy1, .xyrp1{
    color: #202124;
    padding-bottom: 0;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}


.xy2{
  color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 8px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.vmnlimit{
  opacity: 1;
}
/*on signup success*/
.vmn{
  font-family: 'Roboto', sans-serif !important;
  width: 50;
  padding-bottom: 8px;
  align-items: center;
  margin: auto;
  transition: opacity 1s;
  border-radius: 4px;
}
.xy, .xyrp{
    padding: 0px 24px 36px;
    overflow: hidden;
    flex-grow: 1;
    -webkit-box-flex: 1;
}
.xx{
  min-height: 100vh;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  display: webkit-box;
  display: webkit-flex;
  max-width: 100%;
  position: relative;
  z-index: 2;
}
.xx1, .xxrp1{
  background: #fff;
}

.xx2{
  margin: auto -40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 16px;
  margin-top: 10px;
}
.xx3{
  padding: 16px 0 0;
  width: 100%;
  display: block;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: content-box;
}

.xzxc{
  position: absolute;
  z-index: 4;
  top: 50%;
  display: inline-block;
}
.xx4{
  height: 56px;
  padding-top: 0;
  box-sizing: inherit;
  position: relative;
  vertical-align: top;
}
.xx5{
    position: relative;
    vertical-align: top;
    box-sizing: inherit;
    top: 0;
    height: 56px;
    padding-top: 0;
}
.xx6{
      align-items: center;
      position: static;
      top: 0;
      display: flex;
}
.xx6v1{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0%;
  position: relative;
  box-sizing: inherit;
}

.xx7{
  direction: ltr;
  text-align: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #202124;
  font-size: 16px;
  height: 28px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
  z-index: 1;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  font: 400 16px;
  line-height: 24px;
  min-width: 0%;
  outline: none;
  z-index: 1;
  autocomplete: off;
}
  .tyu123{
    margin-left: 2px;
  }
.tyu123 a{
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.fa {
  background-image: linear-gradient(#FF9AA2,  #FFB7B2);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-right: 10px;
  margin-top: 12px;
  z-index: 2;
  position: relative;
}

.xx7:not(disabled):focus~.xx8{
  color: #B5EAD7;
  background: rgba(181, 234, 215, 0.2);
  transform: scale(.75) translateY(-38px);
}
.xx7[data-state="valid"]~.xx8{
  transform: scale(.75) translateY(-39px);
}
.xx7[data-state="invalid"]~.xx8 {
  transform: scale(1) translateY(+39px);
}

.xx8{
    background: #fff;
    bottom: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    font-size: 16px;
    font-weight: 400;
    left: 8px;
    max-width: -webkit-calc(100% - (2*8px));
    max-width: calc(100% - (2*8px));
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    white-space: nowrap;
    width: auto;
    flex-grow: 2;
    z-index: 1;
    font: 450 16px;
    transform-origin: bottom left;
    pointer-events: none;
    position: absolute;
}

.xxxx11{
  border: 0.1px solid #dadce0;
  border-radius: 4px;
}


.xx11{
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: transparent;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.xx11:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0,0,0,0);
  pointer-events: none;
}
:first-child>.xx4{
    padding: 8px 0 0;
}
.xx12{
    height: -webkit-calc(100% - 2*2px);
    height: calc(100% - 2*2px);
    width: -webkit-calc(100% - 2*2px);
    width: calc(100% - 2*2px);
    background-color: transparent;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    bottom: 0;
    opacity: 0;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: opacity 150ms cubic-bezier(0.4,0,0.2,1);
    width: -webkit-calc(100% - 2*2px);
    width: calc(100% - 2*2px);
    -webkit-animation: quantumWizPaperInputRemoveUnderline .3s cubic-bezier(0.4,0,0.2,1);
    animation: quantumWizPaperInputRemoveUnderline .3s cubic-bezier(0.4,0,0.2,1);
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

/* add on click of input box*/

.xx4v1{
  transform: scaleX(1);
  -wekit-transform: scaleX(1);
  animation: quantumWizPaperInputAddUnderline .3s cubic-bezier(0.4,0,0,2.1);
}

.xx12v1{
  border: 2px solid #1a73e8;
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}

.xx10{
  background: #fff;
  bottom: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #80868b;
  font-size: 16px;
  font-weight: 400;
  left: 240px;
  max-width: -webkit-calc(100% - (2*8px));
  max-width: calc(100% - (2*8px));
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  white-space: nowrap;
  width: auto;
  z-index: 1;
  font: 400 16px;
  pointer-events: none;
  position: absolute;
}

@media screen and (max-height: 500px) {
  body{
    overflow-y: scroll;
  }
}

@media screen and (max-width: 449px) {
  .xy, .xyrp {
    overflow: visible;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }
  .vcmvz{
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 450px) {
  .vcmvz{
    padding: 0;
    width: 100%;
  }
  .xxx2 {
        padding-left: 40px;
        padding-right: 40px;
        margin: auto -40px;
  }
  .xxx3 {
    border-left-width: 40px;
    border-right-width: 40px;
  }
  .xy, .xyrp {
    overflow: visible;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }
}

.xxx2{
  padding-left: 24px;
  padding-right: 24px;
  margin: auto -24px;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: .1px;
    white-space: nowrap;
}
.xxx3{
    display: inline-block;
    font-size: 14px;
    padding: 24px 0 0;
    vertical-align: top;
    white-space: normal;
    width: 100%;
}
.xxx4{
  line-height: 1.4286;
  font-weight: 200;
}



@media screen and (min-width: 601px) {
  .xy, .xyrp {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
  }
  .vcmvz{
    position: absolute;
    padding: 0 40px 36px;
    width: 450px;
  }
  .ghgtu{
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
  }
  .xx1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        border-radius: 8px;
        border: 1px solid #dadce0;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        min-height: 63.9996px;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0 auto;
        transition: .2s;
        width: 450px;
  }
  .animated_gradient_border{
    border: 5px solid transparent;

    background-image:
      linear-gradient(white, white),
      linear-gradient(180deg, rgba(255, 154, 162, 0.5), rgba(255, 183, 178, 0.5) 50%, rgba(255, 218, 193, 0.5));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
  }
  .xxrp1{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      border-radius: 8px;
      border: 1px solid #dadce0;
      flex-direction: column;
      min-height: 100vh;
      position: relative;
      min-height: 63.9996px;
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 0 auto;
      transition: .2s;
      width: 600px;
  }
  .xx:before, .xx:after {
      content: '';
      display: block;
      -webkit-box-flex: 1;
      box-flex: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      height: 24px;
      box-sizing: border-box;
    }
  .xx:before {
      min-height: 30px;
      box-sizing: border-box;
    }
  .xx:after {
    min-height: 63.9996px;
    }
  .xx1, .xxrp1 {
    height: auto;
    min-height: 500px;
    overflow-y: auto;
    transition: .2s;
    -webkit-transition: .2s;
    padding: 48px 40px 36px;
    }
    .xy {
    width: 450px;
    min-height: 0;
    margin: 0 auto;
    display: block;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    z-index: 2;
    }
    .xyrp{
      width: 600px;
      min-height: 0;
      margin: 0 auto;
      display: block;
      flex-direction: column;
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
    .xx2 {
    margin: auto -40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 16px;
    margin-top: 10px;
    }
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

.yy2:empty+.xx2{
  margin-top: 0;
}
.xx2>:first-child {
    margin-top: 0;
    padding-top: 0;
}

.yy2:empty{
  display: none;
}

.xx2 button:not(.zx5){
  border-radius: 4px;

  display: inline-block;
  font-weight: 500;
  letter-spacing: .25px;

  border: 0;
  cursor: pointer;
  font-size: inherit;
  outline: 0;
  padding: 0;
  text-align: left;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  opacity: 0.1;
}
button:enabled{
  color: #B5EAD7;
  background: rgba(181, 234, 215, 0.2);
  transition: opacity .25s ease-in-out;
}

button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.qq {
    background: #fff;
    bottom: 0;
    direction: ltr;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.zx1{
  box-sizing: inherit;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  display: webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-left: -8px;
  margin-top: 26px;
  min-height: 48px;
  padding-bottom: 20px;
}
.zx2{
  text-align: right;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.zx3{
  box-sizing: inherit;
  display: inline-block;
}
.zx4{
  display: inline;
  box-sizing: inerhit;
}

.qsald a:hover, .zx8:hover, .tyu123 a:hover{
    -webkit-box-shadow: 1 1px 1px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    box-shadow: 1 1px 1px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    -webkit-box-shadow: 0 1px 1px 0 var(--gm-fillbutton-keyshadow-color,rgba(60,64,67,0.3)),0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color,rgba(60,64,67,0.15));
    box-shadow: 0 1px 1px 0 var(--gm-fillbutton-keyshadow-color,rgba(60,64,67,0.3)),0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color,rgba(60,64,67,0.15));

}

.zx5:not(:disabled) {
  color: #B5EAD7;
  background: rgba(181, 234, 215, 0.2);
  color: var(--gm-fillbutton-ink-color,#444);
}

.zx5:hover{
  cursor: pointer;
}

.zxxxxx6{
  width: 100% !important;
}

.zx5{

    min-width: 88px;
    padding: 0 24px 0 24px;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0107142857em;
    text-transform: none;
    -webkit-transition: border 280ms cubic-bezier(0.4,0,0.2,1),box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    transition: border 280ms cubic-bezier(0.4,0,0.2,1),box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    -webkit-box-shadow: none;
    box-shadow: none;

    margin-top: 0px;
    margin-botom: 0px;
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    will-change: transform,opacity;

    -webkit-font-smoothing: antialiased;
    font-family: var(--mdc-typography-button-font-family,var(--mdc-typography-font-family,'FZZFangSong-Z02', 'FZZFangSong-Z02S', STFangsong, FangSong));
    font-size: .875rem;
    font-size: var(--mdc-typography-button-font-size,0.875rem);
    line-height: 2.25rem;
    line-height: var(--mdc-typography-button-line-height,2.25rem);
    font-weight: 500;
    font-weight: var(--mdc-typography-button-font-weight,500);
    letter-spacing: .0892857143em;
    letter-spacing: var(--mdc-typography-button-letter-spacing,0.0892857143em);
    text-decoration: none;
    text-decoration: var(--mdc-typography-button-text-decoration,none);
    text-transform: uppercase;
    text-transform: var(--mdc-typography-button-text-transform,uppercase);
    padding: 0 8px 0 8px;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: var(--mdc-shape-small,4px);
    border-radius: var(--mdc-shape-small,4px);
    height: 36px;

}
.zx7{
      -webkit-align-items: flex-start;
      align-items: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 0;
      box-flex: 0;
      -webkit-flex-grow: 0;
      flex-grow: 0;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin-left: -8px;
      margin-top: 26px;
      min-height: 48px;
      padding-bottom: 20px;
      white-space: normal;
}
.zxx7{
  display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;;
}
.zxx8{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    display: inline-block;
    text-align: right;
}
.dazcv{
  display: block;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.zxcnv{
  -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    display: inline-block;
    text-align: left;
    white-space: normal;
}
.iqeoad{
      text-align: left;
      margin-top: -15px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font-size: inherit;
      letter-spacing: .25px;
      text-transform: none;
      -webkit-user-select: none;
      -webkit-transition: background .3s;
      transition: background .3s;
      border: 0;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #444;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      min-width: 88px;
      outline: none;
      overflow: hidden;
      position: relative;
      -webkit-tap-highlight-color: transparent;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
}
.zx6{
  padding-top: 20px;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: right;
  justify-content: space-between;
  margin-left: -8px;
  margin-top: 26px;
  min-height: 48px;
  padding-bottom: 20px;
}
.zx8{
  display: block;
  text-align: right;
  margin-top: -10px;
  border-radius: 4px;
  font-size: inherit;
  letter-spacing: 1px;
  text-transform: none;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  min-width: 88px;
  outline: none;
  overflow: hidden;
  position: relative;
}
.wxcz{
      position: relative;
      margin: 16px;
      text-align: left;
      font-size: inherit;
      letter-spacing: .25px;
      text-transform: none;
}
.qsald{
    color: #444;
    line-height: 1.4286;
    margin: 8px;
    text-transform: none;
    max-width: 300px;
    font-weight: 550;
    display: inline-block;
    text-align: left;
    float: left;
}

.qsald a{
  text-decoration: none;
}
